.cart {
    justify-self: end;
    align-self: center;

    position: relative;
}

.cart__count {
    display: inline-block;
    position: absolute;
    height: 25px;
    top: 3px;
    right: -6px;
    padding: 0 6px;
    background-color: var(--accent);
    border-radius: 40px;
    font-weight: 700;
    line-height: 25px;
    font-family: var(--font-cards);
}